@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */

html,
body {
  background-color: #eafaf0;
  font-family: 'Work Sans', sans-serif;
}

/* HEADER */

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem 2rem; /* [top] [right & left] [bottom] */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.pulse__logo {
  cursor: pointer;
}

.nav__header-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  text-decoration: none;
  color: #10a56b;
  font-weight: 800;
  font-size: 1rem;
  transition: all ease-out 0.5s;
}

.link:nth-of-type(3) {
  color: black;
}

.link:hover:nth-of-type(1) {
  color: black;
}
.link:hover:nth-of-type(2) {
  color: black;
}
.link:hover:nth-of-type(4) {
  color: black;
}

.header__btn {
  color: #00ad6a;
  border: 2px solid #00ad6a;
  padding: 4px 16px;
  border-radius: 5px;
  transition: all ease-out 0.5s;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.header__btn:hover {
  color: #fff;
  background-color: #00ad6a;
}

/* HERO SECTION */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 1.5rem; /* add breathing room between header and also cards */
}

.hero__wrapper {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__title {
  font-size: 60px;
  font-weight: 800;
}

.hero__text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 200;
}

/* MAIN */

.main__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.main__wrapper {
  display: flex;
  justify-content: center; /* Centers the cards */
  align-items: center;
  flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
  margin: 60px 0; /* Vertical spacing */
}

.price-card {
  width: 100%; /* default: fills available space */
  max-width: 400px; /* never get wider than this */
  flex: 1 1 350px; /* flex-grow, flex-shrink, flex-basis */

  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.price-card__basic {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  background-color: #eafaf0;
}

.basic__title {
  color: #16a369;
}

.basic__list {
}

.basic__list,
.basic__text,
.plus__list,
.premium__text,
.premium__list {
  line-height: 1.375; /* leading-snug */
}

/* plus card */

.price-card__plus {
  border: 1px solid #448a6e;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 24px;
  gap: 1rem;
}

.plus__banner {
  background-color: #00ad6a;
  color: white;
  font-weight: 900;
  font-size: 0.75rem;
  text-align: center;
  padding: 8px 0;
  border-radius: 2px;
}

/* 
  The .plus__banner-wrapper uses negative margins to offset the 24px padding 
  on .price-card__plus. This allows the banner to break out of the padded 
  content area and stretch edge-to-edge at the top of the card. 
  - margin-left/right: -24px cancels out the horizontal padding
  - margin-top: -24px pulls the banner up to align with the top edge of the card
*/

.plus__banner-wrapper {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
}

.plus-card__title span {
  font-size: 50px;
  font-weight: 800;
  display: block;
  color: #00ad6b;
}

.plus__top-content {
  display: block;
  text-align: center;
  gap: 8px;
}

.plus__price-text {
  font-size: 30px;
  color: #83858a;
}

.plus__text {
  font-size: 12px;
}

.plus__button-wrapper {
}

.plus__pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.plus__button {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem; /* space inside the button */
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  background-color: #1fe375;
  margin-bottom: 1rem;
}

.plus__button:hover {
  transform: scale(1.08);
}

.plus__list {
  list-style: none; /* remove default bullets */
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plus__list-item {
  display: flex;
  align-items: start;
  gap: 8px;
}

.plus__list-item i {
  color: #00ad6a;
  margin-top: 4px; /* vertically align checkmarks with content */
}

/* premium card */

.price-card__premium {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  border: 1px solid #d6dbdd;
}

.premium__text-wrapper {
  background-color: #f2f4f3;
  padding: 1rem; /* equal to p-4 */
  text-align: center;

  border-bottom: 1px solid #d6dbdd;
}

.premium__title {
  display: block;
  font-size: 36px;
  font-weight: 500;
  color: #00ad6a;
  text-align: center;
}

.premium__title span {
  display: block;
}

.premium__price-text {
  font-size: 30px;
  color: #83858a;
}

.premium__text {
  font-size: 12px;
}

.premium__button {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem; /* space inside the button */
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  background-color: #1fe375;
  margin-bottom: 1rem;
}

.premium__button:hover {
  transform: scale(1.08);
}

.premium__list {
  list-style: none; /* remove default bullets */
  padding-left: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.premium__list-item {
  display: flex;
  align-items: start;
  gap: 8px;
}

.premium__list-item i {
  color: #00ad6a;
  margin-top: 4px; /* vertically align checkmarks with content */
}

/* MARKETING SECTION */

/* Outer container: sets the section width, max-width, and centers it */
.marketing__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Inner wrapper: arranges content (via flexbox or grid) */
.marketing__container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 39.5px;
  padding: 40px 24px;
  gap: 24px;
}

.marketing__img {
}

.marketing__text {
  font-size: 24px;
  text-align: center;
}

.marketing__text span {
  display: block;
  line-height: 1.4;
}

.marketing__subtitle {
  font-size: 12px;
  color: #00ad6a;
  font-weight: 800;
}

/* FAQ  */

/* FAQ */

.faq {
  background-color: #fcfcfc;
  padding-bottom: 100px;
}

.faq__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.faq__title-wrapper {
  padding: 0 1.5rem;
}

.faq__title {
  font-size: 48px;
  font-weight: 700;
  padding-left: 0.8rem;
  padding-top: 4rem;
}

.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.faq__text-container {
  flex: 1 1 500px;
  padding: 1.5rem;
  min-height: 150px;
  box-sizing: border-box;
  background-color: white;
}

.faq__text-title {
  font-size: 20px;
  color: #080c16;
  margin-bottom: 0.75rem;
}

.faq__text-content {
  line-height: 1.5;
  font-size: 18px;
}

.faq__text-content span {
  display: block;
  margin-bottom: 1rem;
}

/* FOOTER TOP */

.footer {
  background-color: #080c17;
}

.footer li {
  font-size: 18px;
  color: #fff;
  list-style: none; /* remove default bullets */
}

.footer__link {
  font-size: 18px;
  color: #1fe374;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer a:hover {
  color: #fff;
}

.footer__column-title {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer__top {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__top-logobtn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer__top-img {
  cursor: pointer;
}

.footer__top-btn {
  background-color: #02af6b;
  color: black;
  font-weight: bold;
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer__top-btn:hover {
  background-color: #fff;
}

.footer__top-links {
  display: flex;

  gap: 4rem;
  line-height: 1.5;
}

/* all 3 columns share this and also have their own second class
keeps it clean
*/
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__product-title {
}

/* FOOTER BOTTOM */

.footer__bottom {
}

.footer__bottom-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}

.footer__copyright {
  color: #7d7d84;
  padding-bottom: 0.5rem;
}

/* HAMBURGER MENU */

/* Hides hamburger icon by default */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 28px;
  cursor: pointer;
}

.hamburger span {
  height: 5px;
  background-color: #00ad6a;
  border-radius: 3px;
  width: 100%;
}

/* HIDE MOBILE VERSIONS BY DEFAULT */
.price-card-mobile {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 1097px) {
  /* hides existing cards for query */
  .price-card {
    display: none;
  }

  .hero {
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
  }

  .hero__title {
    text-align: left;
  }

  /* for ALL cards on mobile  */
  .price-card-mobile {
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  /* BASIC card mobile */
  .price-card-mobile__basic {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
  }

  .basic__list-mobile {
    line-height: 1.5;
    margin-left: 1rem;
  }

  .basic__card-title-mobile {
    color: #16a369;
  }

  /* PLUS card mobile */

  .price-card-mobile__plus {
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
  }

  .plus__badge-mobile {
    background-color: #00ad6a;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  .plus__banner-wrapper-mobile {
    margin: -1.5rem -1.5rem 0 -1.5rem; /* cancels out the card's padding */
  }

  .plus__title-mobile {
    font-size: 1.75rem;
    font-weight: 800;
    color: #00ad6a;
    line-height: 1.2;
  }

  .plus__price-mobile {
    font-size: 1.2rem;
    color: #83858a;
  }

  .plus__subheading-mobile {
    font-size: 0.85rem;
    color: #555;
    font-weight: bold;
  }

  .plus__list-mobile {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .plus__btn-mobile {
    width: 100%;
    padding: 1rem;
    background-color: #1fe374;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .plus__btn-mobile:hover {
    background-color: #00ad6a;
    color: white;
  }

  /* PREMIUM CARD MOBILE */

  .price-card-mobile__premium {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0 1.5rem 2rem 1.5rem; /* top is now 0 */
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .premium__text-wrapper-mobile {
    width: 100%;
    background-color: #f2f4f3;
    padding: 1rem;
    box-sizing: border-box;
    width: calc(100% + 3rem); /* adds back both left & right padding */
    margin-left: -1.5rem;
  }

  .premium__text-mobile {
    font-size: 16px;
    color: #080c16;
    line-height: 1.5;
    text-align: center;
  }

  .premium__title-mobile {
    font-size: 24px;
    font-weight: 600;
    color: #00ad6a;
  }

  .premium__price-mobile {
    font-size: 20px;
    color: #83858a;
    font-weight: 500;
  }

  .premium__subheading-mobile {
    font-size: 12px;
    font-weight: bold;
    color: #080c16;
    margin-top: 0.5rem;
  }

  .premium__list-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0;
    line-height: 1.5;
  }

  .premium__list-item i {
    color: #00ad6a;
    margin-right: 0.5rem;
  }

  .premium__btn-mobile {
    background-color: #1fe375;
    border: none;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .premium__btn-mobile:hover {
    background-color: #00ad6a;
    color: white;
  }
}

@media (max-width: 860px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .footer__top-logobtn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;

    width: 100%;
  }

  .footer__top-img {
    padding-bottom: 2rem;
  }

  .footer__top-btn {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .footer__top-links {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__bottom-inner {
    text-align: center;
    padding: 4rem 0;
  }
}

@media (max-width: 734px) {
  .nav__header-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 375px) {
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .main__wrapper {
    margin: 0;
  }

  .price-card__plus {
    min-height: auto;
  }

  .faq__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .faq__title {
    padding-left: 1.2rem;
  }

  .faq__column {
    display: flex;
    flex-direction: column;
  }

  .faq__text-container {
    padding: 1rem 1.5rem;
  }

  .faq__column:last-child .faq__text-container:last-child {
    margin-top: 0;
  }

  .footer__top {
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
    gap: 2rem;
  }

  .footer__top-img {
    align-self: center;
  }

  .footer__top-logobtn-container {
    width: 100%;
  }

  .footer__top-btn {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .footer__bottom-inner {
    padding: 2rem 2rem;
  }
}
